{% load staticfiles %}
{% include 'evl/imports.html' %}
<html lang="pt-br">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <!-- Navigation -->
    <header>
        {% include 'evl/header.html' %}
    </header>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer style="padding: 0px !important; width: 100% !important;">
        {% include 'evl/footer.html' %}
    </footer>
    <!-- Footer -->
</body>
</html>
