{% include 'evl/imports.html' %}


<head>

    <header>
        {% include 'evl/headerAluno.html' %}
    </header>
    <meta charset="UTF-8">
    <title>Aluno</title>
</head>

<body>
{% include 'evl/navbarMenuAlunoLogado.html' %}
    <div class="view hm-white-light jarallax marginTopHome bgCertificados"  style="background-size:cover!important;"  data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row" style="width: 90% !important;">
                    <div class="col-md-12 wow fadeIn">
                        <div class="text-center titleFontProperties">
                                <h1 class="display-2-edited mb-2 wow fadeInDown" data-wow-delay="0.3s">Certificados</h1>
                            <div class="propriedades-tabela" style="color: black !important;">
                            <table class="table table-hover sortable" id="minhaTabela">
                                    <thead>
                                    <tr class="table-light">
                                        <th scope="col">ID</th>
                                        <th scope="col">Data de Emissão</th>
                                        <th scope="col">Nota</th>
                                        <th scope="col">Curso</th>
                                        <th scope="col">Escola</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cert in certs.certificados %}
                                    <tr class="table-light">

                                        <td>{{ cert.id }}</td>
                                        <td>{{ cert.data_de_emissao }}</td>
                                        <td>{{ cert.nota }}</td>
                                        <td>{{ cert.curso }}</td>
                                        <td>{{ cert.escola }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer style="padding: 0px !important;">
        {% include 'evl/footer.html' %}
    </footer>
<script src="/static/js/dataTable.js"></script>
</body>

