{% include 'evl/imports.html' %}

<head>
    <header>
        {% include 'evl/header.html' %}
    </header>
    <meta charset="UTF-8">
    <title>Aluno</title>
</head>
<body>




    <div class="view hm-white-light jarallax marginTopHome bgCertificados" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row textTop">
                    <div class="col-md-12 wow fadeIn">
                        <div class="text-center titleFontProperties">
                            <h1 class="display-2-edited mb-2 wow fadeInDown" data-wow-delay="0.3s">Certificados</h1>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer style="padding: 0px !important;">
            {% include 'evl/footer.html' %}
        </footer>
</body>

<script src="https://headervideo.github.io/hvheadervideo/js/mdb.min.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax-video.js"></script>