{% extends 'base.html' %}
{% block content %}
{% include 'imports.html' %}


    <div class="bc-icons-2">
        <ol class="breadcrumb bcAdditionalProperties">
            <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>

    <iframe src="/iFrameDashboard" height="100%" width="100%" style="border-width: 0px !important;"></iframe>


{% endblock %}
