{% extends 'evl/base.html' %}
{% block content %}


{% if messagem_fale_conosco %}
  <div class="alert alert-success" style="margin: 0 auto;">
    <strong>{{ messagem_fale_conosco }}</strong>
  </div>
{% endif %}

    <body>
    <div class="view hm-white-light jarallax marginTopHome bgHomepage" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row">
                    <div class="col-md-12 wow fadeIn">
                        <div class="text-center titleFontProperties">
                            <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Portal EVL</h1>
                            <hr class="my-4">
                            <a href="/cursos" class="btn btn-primary btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-list-ul"></i> Catálogo de Cursos</a>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </body>
    <script src="https://headervideo.github.io/hvheadervideo/js/mdb.min.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/jarallax.js"></script>
    <script src="https://headervideo.github.io/hvheadervideo/js/jarallax-video.js"></script>
    </html>
    {% endblock %}


