{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link href="{% static "css/stars.css" %}" rel="stylesheet">
<script src="../static/js/cursos.js"></script>
    <title>EVL - Catálogo de Cursos</title>
    <div class="bc-icons-2">
        <ol class="breadcrumb bcAdditionalProperties">
            <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active ">Catálogo de Cursos</li>
        </ol>
    </div>
    <div class="paddingDiv gradientBackgroundTitle jumbotron" style="box-shadow: none; margin-bottom: 0px !important;">
        <h1 class="display-4 textBasicOrientation">
            <h1 class="display-4 titleFontProperties2 textBasicOrientation">Catálogo de Cursos</h1>
        </h1>
        <hr class="my-4">
        <p class="lead subtitleFontProperties2 textBasicOrientation paddingDiv">Os cursos da EVL são dividos por temáticas. Cada temática contém uma lista de cursos relacionados a esse tema e que poderão ser de seu interesse.</p>
        </p>
    </div>
    <div class="container page-content">
        <div style="margin-bottom: 15px;" class="tamanhoMenuResp showUpperMenu">
            <div class="list-group menuCoursesColor" id="list-tab" role="tablist">
                {% for categoria in categorias %}
                    {% if categoria == categorias.0 %}
                        <a class="menuCoursesColor list-group-item list-group-item-light active show" id="a-{{ categoria.id }}" data-toggle="list" href="#{{ categoria.id }}" role="tab" aria-controls="home">{{categoria.nome}}</a>
                    {% endif %}
                    {% if categoria != categorias.0 %}
                        <a class="menuCoursesColor list-group-item list-group-item-light" id="a-{{ categoria.id }}" data-toggle="list" href="#{{ categoria.id }}" role="tab" aria-controls="home">{{categoria.nome}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="sizeCol3 showBigMenu">
                <div style="min-height: 370px; min-width: 180px">
                    <div class="list-group menuCoursesColor" id="list-tab" role="tablist">
                        {% for categoria in categorias %}
                            {% if categoria == categorias.0 %}
                                <a class="menuCoursesColor list-group-item list-group-item-light active show" id="a-{{ categoria.id }}" data-toggle="list" href="#{{ categoria.id }}" role="tab" aria-controls="home">{{categoria.nome}}</a>
                            {% endif %}
                            {% if categoria != categorias.0 %}
                                 <a class="menuCoursesColor list-group-item list-group-item-light" id="a-{{ categoria.id }}" data-toggle="list" href="#{{ categoria.id }}" role="tab" aria-controls="home">{{categoria.nome}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="sizeCol9 mrml">
                <div class="row" id="nav-tabContent">
                    {% for categoria in categorias %}
                        {% if categoria == categorias.0 %}
                            <div class="tab-pane fade active show" style="display:block" id="{{ categoria.id }}" role="tabpanel" aria-labelledby="list-profile-list">
                            {% else %}
                            <div class="tab-pane fade active show" style="display:none" id="{{ categoria.id }}" role="tabpanel" aria-labelledby="list-profile-list">
                        {% endif %}
                        <section class="row sectionPropertiesCourses">
                            {% for curso in cursos %}
                                {% if curso.categoria == categoria.id %}
                                    <ul id="ul-{{ categoria.id }}" class="animated bounceInLeft align ">
                                        <div class="col" style="">
                                            <div class="marginCards widthCard  curl-top-left">
                                                <div class="">
                                                    <div class="card hoverable" style="min-height: 500px;">
                                                        <div style="min-width: 250px; min-height: 90px; padding: 7px;">
                                                            <img class="img-fluid" src="https://saberes.senado.leg.br/theme/image.php/ilb/theme/1539274492/logo_saberes_xl" alt="Card image cap">
                                                        </div>
                                                        <div class="card-body" style="padding: 0px !important;">
                                                            <h4 class="card-title">{{curso.nome}}</h4>
                                                            <p class="card-text">{{ curso.descrição }}</p>
                                                            <dl>
                                                                <dt>Certificador:</dt>
                                                                <dd>{{ curso.certificador }}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Conteudista:</dt>
                                                                <dd>{{ curso.conteudista }}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Carga Horária:</dt>
                                                                <dd>
                                                                    <input value="357" hidden="">
                                                                    {{ curso.carga_horaria }}h
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Avaliação:</dt>
                                                                <dd>
                                                                    <input value="357" hidden="">
                                                                    <div class="stars-outer">
                                                                        <div class="stars-inner" style="width: {{ curso.rating_percentage }}%"></div>
                                                                    </div>
                                                                    {{ curso.rating }}
                                                                    <!-- {{ curso.url }} -->
                                                                </dd>
                                                            </dl>
                                                            <a href='http://localhost:3000/cursos/registro?id={{curso.id}}&redirect={{curso.url}}' class="btn btn-success inscrevase buttonFixedBottom" style="text-align: center">Inscreva-se</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}