.certificado_titles {
  font-size: 30px;
  color: #25414c
}
.certificado_atributo{
  font-size: 20px;
}
.header-color-certificado{
  height: 65px;
  background: #f4f7fc !important;
}
.card-size-certificado{
  width: 600px;
  margin-top: 10px;
  height: 135px;
  border: 0.7px solid #a9abad !important;
}
.titulo-certificado{
  margin: 0 auto;
  margin-top: 20px;
}
