<html>
<body>

<footer class="page-footer lineHeight">
    <div class="container containerTamanho layoutBasicOrientation">
        <div class="row">
            <div class="col l6 m4 l6 columnOrientations">
                <h5 class="texto-cinza footerTitleProperties">EVL | Escola Virtual.Leg</h5>
                <p class="texto-cinza-claro text-lighten-4 footerTextProperties">
                    Este é o coração da Escola Virtual.Leg! Por meio dela, instituições gerenciam seus cursos,
                    a abertura de turmas e o andamento das inscrições.
                </p>

            </div>
            <div class="col l4 m4 l3 columnOrientations">
                <h5 class="texto-cinza footerTitleProperties">SOBRE A EVL</h5>
                <ul style="list-style-type:none;padding-left: 0px;">
                    <li><a class="texto-cinza-claro text-lighten-3 footerTextProperties" href="#!">Adesão Institucional</a></li>
                    <li><a class="texto-cinza-claro text-lighten-3 footerTextProperties" href="/faleConosco">Entre em contato</a></li>
                </ul>
            </div>
            <div class="col l4 m4 l3 columnOrientations">
                <h5 class="texto-cinza footerTitleProperties">AMBIENTES VIRTUAIS</h5>
                <ul style="list-style-type:none;padding-left: 0px;">
                    <li><a class="texto-cinza-claro text-lighten-3 footerTextProperties" href="#!">MOOC</a></li>
                    <li><a class="texto-cinza-claro text-lighten-3 footerTextProperties " href="#!">SPOC</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container texto-cinza" style="text-align: center;">

            <a class="texto-cinza text-lighten-4 right" href="http://www.interlegis.leg.br/"> Interlegis - 2019 Copyright - All Rights Reserved Terms of Service</a>
        </div>
    </div>
</footer>

</body>
</html>

