{% extends 'base.html' %}
{% block content %}

    <title>EVL - Meus Comprovantes</title>
<body>
{% include 'imports.html' %}
<div class="bc-icons-2">
    <ol class="bcAdditionalProperties breadcrumb ">
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'administrador' %}">Administrador</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Cursos Pendentes</li>
    </ol>
</div>
    <div class="view hm-white-light jarallax marginTopHome bgCursosPendentes"  style="background-size:cover!important;"  data-jarallax='{"speed": 0.2}'>
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row" style="width: 90% !important;">
                        <div class="col-md-12 wow fadeIn">
                            <div class="text-center titleFontProperties">
                                <h1 class="display-2-edited mb-2 wow fadeInDown" data-wow-delay="0.3s">Cursos Pendentes</h1>
                            <div class="propriedades-tabela" style="overflow: auto">
                                <table class="table table-hover" id="minhaTabela">
                                    <thead>
                                    <tr class="table-light">
                                        <th scope="col">Curso</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Carga Horária</th>
                                        <th scope="col">Aprovar</th>
                                        <th scope="col">Reprovar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for curso in cursos.cursos %}
                                    <tr class="table-light">
                                        <th scope="row">{{curso.nome}}</th>
                                        <th scope="row">{{curso.descricao}}</th>
                                        <th scope="row">{{curso.carga_horaria}}</th>
                                        <td><a href="{% url 'aprovar_curso' curso=curso.id categoria=curso.ead_id%}"><i class="check icon"></i></a></td>
                                        <td><a href="{% url 'reprovar_curso' curso=curso.id categoria=curso.ead_id%}"><i class="delete icon"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="/static/js/dataTable.js"></script>
</body>
{% endblock %}
