{% extends 'base.html' %}
{% include 'imports.html' %}
{% load static %}
{# {% load widget_tweaks %} #}
<script src="{% static 'js/jquery.mask.js' %}"></script>
{% block content %}
    <title>EVL - Fale Conosco</title>
    <div class="bc-icons-2">
        <ol class="breadcrumb bcAdditionalProperties">
            <li class="breadcrumb-item"><a class="black-text" href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Fale Conosco</li>
        </ol>
    </div>

    <div class="ajustestitlefaleconosco paddingDiv gradientBackgroundTitle jumbotron" style="box-shadow: none;">
        <h1 class="display-4 textBasicOrientation">
            <h1 class="display-4  textBasicOrientation">Fale Conosco</h1>
        </h1>
        <hr class="my-4">
        </p>
    </div>

    <div class="margin-padding-fale-conosco container" style="margin-bottom: 6%;">
        <div class="col-md-12">
            <div class="form-area">
                <form method="POST" role="form" novalidate>
                    {% csrf_token %}
                    <br style="clear:both">
                    {% if user.profile %}
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder={{user.username}} id="id_name" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder={{user.email}} id="id_email" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder={{user.profile.phone}} id="id_phone" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cpf" class="form-control" placeholder={{user.username}} id="id_cpf" disabled>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <small class="text-danger">
                                {{ form.name.errors.as_text }}
                            </small>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <small class="text-danger">
                                {{ form.email.errors.as_text}}
                            </small>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <small class="text-danger">
                                {{ form.cpf.errors.as_text}}
                            </small>
                            {{ form.cpf}}
                        </div>
                        <div class="form-group">
                            <small class="text-danger">
                                {{ form.phone_number.errors.as_text}}
                            </small>
                            {{ form.phone_number}}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.school_initials.errors.as_text}}
                        </small>
                        {{ form.school_initials }}
                    </div>
                    <small class="text-danger">
                        {{ form.course_category_id.errors.as_text}}
                    </small>
                    <div class="form-group">
                        {{ form.course_category_id}}
                    </div>
                    <small class="text-danger">
                        {{ form.course_id.errors.as_text}}
                    </small>
                    <div class="form-group">
                        {{ form.course_id }}
                    </div>
                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.type_conversation.errors.as_text}}
                        </small>
                        {{ form.type_conversation}}
                    </div>
                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.title.errors.as_text}}
                        </small>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.description.errors.as_text}}
                        </small>
                        {{ form.description }}
                    </div>
                    <div class="marginBottomBotaoEnviarContact">
                        <button type="submit" id="submit" name="submit" class="pull-right btn btn-success">Enviar Mensagem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style media="screen">
        input[type=text]:disabled {
            border-bottom: 1px solid #ccc !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_cpf")val().mask("999.999.999-99?99999");
        });
    </script>
{% endblock %}